* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: linear-gradient(hsl(213, 19%, 18%) 0%, hsl(216, 12%, 8%) 120%);
  max-width: 500px;
  padding: 28px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  margin-bottom: 12px;
}

.container p {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  margin-bottom: 30px;
  width: 350px;
  line-height: 23px;
}

.container .rate {
  display: flex;
  justify-content: space-between;
}

.container .img-star {
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: fit-content;
  padding: 10px 12px;
  border-radius: 40px;
}

.container .img-star img {
  font-size: 11px;
}

a {
  text-decoration: none;
}

.rate {
  width: 340px;
}

.rate a {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: fit-content;
  padding: 14px 18px;
  border-radius: 30px;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}

.rate a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 22px;
  margin-bottom: 3px;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/*Editing the second container*/
.container2 {
  background: linear-gradient(hsl(213, 19%, 18%) 0%, hsl(216, 12%, 8%) 120%);
  max-width: 500px;
  padding: 28px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.container2 p {
  font-size: 15px;
}

.container2 .img-cel {
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container2 .img-cel p {
  color: hsl(25, 97%, 53%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: fit-content;
  padding: 6px 8px;
  border-radius: 20px;
  display: flex;
}

.container2 .img-cel p span{
  margin-left: 4px;
  margin-right: 4px;
}

.container2 .img-cel img {
  margin-bottom: 35px;
}

.information2 h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 27px;
}

.information2 p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  width: 340px;
  line-height: 22px;
}

@media (max-width: 400px) {
  .container {
    padding: 10px;
    height: auto;
    width: 350px;
  }

  .container2 {
    padding: 10px;
    height: auto;
    width: 350px;
  }
}
